---
repos:
  - repo: "local"
    hooks:
      - id: "invoke-unittest"
        name: "Run invoke unittest -k"
        entry: "poetry run invoke unittest -k"
        language: "system"
        pass_filenames: false
        files: '^(ai_ops/tests/.*|ai_ops/models\.py)$' # yamllint disable-line rule:quoted-strings
      - id: "invoke-check-migrations"
        name: "Run invoke check-migrations"
        entry: "poetry run invoke check-migrations"
        language: "system"
        pass_filenames: false
        files: '^ai_ops/models\.py$' # yamllint disable-line rule:quoted-strings
      - id: "invoke-ruff-fix"
        name: "Run invoke ruff fix + format"
        entry: "poetry run invoke ruff --action lint --action format --fix"
        language: "system"
        pass_filenames: false
      - id: "invoke-autoformat"
        name: "Run invoke autoformat"
        entry: "poetry run invoke autoformat"
        language: "system"
        pass_filenames: false
      - id: "invoke-yamllint"
        name: "Run invoke yamllint"
        entry: "poetry run invoke yamllint"
        language: "system"
        pass_filenames: false
        files: ".*\\.(yml|yaml)$"

  - repo: "https://github.com/gitleaks/gitleaks"
    rev: "v8.24.2"
    hooks:
      - id: "gitleaks-docker"
        name: "Detect hardcoded secrets (Docker)"
        entry: "zricethezav/gitleaks git --pre-commit --redact --verbose"
        language: "docker_image"
        pass_filenames: false
