---
name: "CI"
concurrency:  # Cancel any existing runs of this workflow for this same PR
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true

permissions:
  "contents": "read"
  "pull-requests": "write"

on:  # yamllint disable-line rule:truthy rule:comments
  push:
    tags:
      - "*.*.*"
      - "*.*.*b*"
  pull_request: ~

env:
  APP_NAME: "ai_ops"
  POETRY_VERSION: "2.1.3"

jobs:
  check-docs-build:
    runs-on: "ubuntu-22.04"
    env:
      INVOKE_AI_OPS_LOCAL: "True"
    steps:
      - name: "Check out repository code"
        uses: "actions/checkout@v4"

      - name: "Setup environment"
        uses: "networktocode/gh-action-setup-poetry-environment@v6"

        with:
          poetry-version: "${{ env.POETRY_VERSION }}"
          poetry-install-options: "--only dev,docs"

      - name: "Check Docs Build"
        run: "poetry run invoke build-and-check-docs"

  poetry:
    runs-on: "ubuntu-22.04"
    env:
      INVOKE_AI_OPS_LOCAL: "True"
    steps:
      - name: "Check out repository code"
        uses: "actions/checkout@v4"

      - name: "Setup environment"
        uses: "networktocode/gh-action-setup-poetry-environment@v6"
        with:
          poetry-version: "${{ env.POETRY_VERSION }}"

      - name: "Checking: poetry lock file"
        run: "poetry run invoke lock --check"

  ruff-format:
    runs-on: "ubuntu-22.04"
    env:
      INVOKE_AI_OPS_LOCAL: "True"
    steps:
      - name: "Check out repository code"
        uses: "actions/checkout@v4"

      - name: "Setup environment"
        uses: "networktocode/gh-action-setup-poetry-environment@v6"

      - name: "Linting: ruff format"
        run: "poetry run invoke ruff --action format"
  ruff-lint:
    runs-on: "ubuntu-22.04"
    env:
      INVOKE_AI_OPS_LOCAL: "True"
    steps:
      - name: "Check out repository code"
        uses: "actions/checkout@v4"

      - name: "Setup environment"
        uses: "networktocode/gh-action-setup-poetry-environment@v6"

      - name: "Linting: ruff"
        run: "poetry run invoke ruff --action lint"

  yamllint:
    runs-on: "ubuntu-22.04"
    env:
      INVOKE_AI_OPS_LOCAL: "True"
    steps:
      - name: "Check out repository code"
        uses: "actions/checkout@v4"

      - name: "Setup environment"
        uses: "networktocode/gh-action-setup-poetry-environment@v6"

      - name: "Linting: yamllint"
        run: "poetry run invoke yamllint"

  check-in-docker:
    needs:
      - "yamllint"
      - "ruff-format"
      - "ruff-lint"
      - "poetry"

    runs-on: "ubuntu-22.04"
    continue-on-error: ${{ matrix.nautobot-version == 'latest' }}  # yamllint disable-line rule:quoted-strings
    strategy:
      fail-fast: true
      matrix:
        include:
          - python-version: "3.11"
            db-backend: "postgresql"
            nautobot-version: "3.0.0"
          - python-version: "3.11"
            db-backend: "postgresql"
            nautobot-version: "latest"

    env:
      INVOKE_AI_OPS_PYTHON_VER: "${{ matrix.python-version }}"
      INVOKE_AI_OPS_NAUTOBOT_VER: "${{ matrix.nautobot-version }}"
    steps:
      - name: "Check out repository code"
        uses: "actions/checkout@v4"
      - name: "Setup environment"
        uses: "networktocode/gh-action-setup-poetry-environment@v6"
        with:
          poetry-version: "${{ env.POETRY_VERSION }}"

      - name: "Constrain Nautobot version and regenerate lock file"
        env:
          INVOKE_AI_OPS_LOCAL: "true"
        run: "poetry run invoke lock --constrain-nautobot-ver --constrain-python-ver"

      - name: "Set up Docker Buildx"
        id: "buildx"
        uses: "docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2"  # v3.10.0

      - name: "Build"
        uses: "docker/build-push-action@ca052bb54ab0790a636c9b5f226502c73d547a25"  # v5.4.0
        with:
          builder: "${{ steps.buildx.outputs.name }}"
          context: "./"
          push: false
          load: true
          tags: "${{ env.APP_NAME }}/nautobot:${{ matrix.nautobot-version }}-py${{ matrix.python-version }}"
          file: "./development/Dockerfile"
          cache-from: "type=gha,scope=${{ matrix.nautobot-version }}-py${{ matrix.python-version }}"
          cache-to: "type=gha,scope=${{ matrix.nautobot-version }}-py${{ matrix.python-version }}"
          build-args: |
            NAUTOBOT_VER=${{ matrix.nautobot-version }}
            PYTHON_VER=${{ matrix.python-version }}
            CI=true

      - name: "Copy credentials"
        run: "cp development/creds.example.env development/creds.env"

      - name: "Checking: App Config"
        run: "poetry run invoke validate-app-config"

      - name: "Checking: migrations"
        run: "poetry run invoke check-migrations"

  unittest:
    needs:
      - "check-in-docker"

    continue-on-error: ${{ matrix.nautobot-version == 'latest' }}  # yamllint disable-line rule:quoted-strings
    strategy:
      fail-fast: true
      matrix:
        include:
          - python-version: "3.11"
            db-backend: "postgresql"
            nautobot-version: "3.0.0"
          - python-version: "3.11"
            db-backend: "postgresql"
            nautobot-version: "latest"

    runs-on: "ubuntu-22.04"
    env:
      INVOKE_AI_OPS_PYTHON_VER: "${{ matrix.python-version }}"
      INVOKE_AI_OPS_NAUTOBOT_VER: "${{ matrix.nautobot-version }}"
    steps:
      - name: "Check out repository code"
        uses: "actions/checkout@v4"
      - name: "Setup environment"
        uses: "networktocode/gh-action-setup-poetry-environment@v6"
        with:
          poetry-version: "${{ env.POETRY_VERSION }}"

      - name: "Constrain Nautobot version and regenerate lock file"
        env:
          INVOKE_AI_OPS_LOCAL: "true"
        run: "poetry run invoke lock --constrain-nautobot-ver --constrain-python-ver"

      - name: "Set up Docker Buildx"
        id: "buildx"
        uses: "docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2"  # v3.10.0

      - name: "Build"
        uses: "docker/build-push-action@ca052bb54ab0790a636c9b5f226502c73d547a25"  # v5.4.0
        with:
          builder: "${{ steps.buildx.outputs.name }}"
          context: "./"
          push: false
          load: true
          tags: "${{ env.APP_NAME }}/nautobot:${{ matrix.nautobot-version }}-py${{ matrix.python-version }}"
          file: "./development/Dockerfile"
          cache-from: "type=gha,scope=${{ matrix.nautobot-version }}-py${{ matrix.python-version }}"
          cache-to: "type=gha,scope=${{ matrix.nautobot-version }}-py${{ matrix.python-version }}"
          build-args: |
            NAUTOBOT_VER=${{ matrix.nautobot-version }}
            PYTHON_VER=${{ matrix.python-version }}
            CI=true

      - name: "Copy credentials"
        run: "cp development/creds.example.env development/creds.env"

      - name: "Run Tests"
        run: "poetry run invoke unittest"

  changelog:
    if: >
      github.base_ref == 'main' &&
      (!startsWith(github.head_ref, 'release'))
    runs-on: "ubuntu-22.04"
    steps:
      - name: "Check out repository code"
        uses: "actions/checkout@v4"
        with:
          fetch-depth: "0"

      - name: "Setup environment"
        uses: "networktocode/gh-action-setup-poetry-environment@v6"

      - name: "Check for changelog entry"
        run: |
          git fetch --no-tags origin +refs/heads/${{ github.base_ref }}:refs/remotes/origin/${{ github.base_ref }}
          poetry run towncrier check --compare-with origin/${{ github.base_ref }}
